.f-btn {width: fit-content;
    height: 38px;
    padding: 0 15px;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 14px;
    box-shadow: 0 0 6px var(--shadow-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    &:hover {
        background-color: var(--primary-color-hover);
    }

    &:active {
        background-color: var(--primary-color);
        filter: brightness(140%);
    }

}