.f-loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    border-top-color: transparent;
    animation: 1s rotate infinite linear;
}


@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}