@import '../../index.scss';


.f-faq-container {
    @include mar-pad(0 auto, 20);
    @include global-max-width(0);

    span {
        display: flex;
        margin-bottom: 20;
        font-size: x-large;
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-faq-container {
        @include global-max-width(1);
    }
}