@import "../../index.scss";

.f-premium-parent {
    @include flex-center;
    @include wh(100%, auto);// change to auto
    padding-top: 60px;
    flex-direction: column;
    overflow: hidden;
}

.f-faq-container {
    @include mar-pad(0 auto, 20px 30px 60px 30px);
    @include global-max-width(0);

    span {
        @include no-select;
        @include flex-center;

        @include mar-pad(0, 30px 0);

        margin-bottom: 20;
        font-size: x-large;
        font-weight: bold;
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-premium-parent {
        height: 100%;
    }

    .f-faq-container {
        @include global-max-width(1);
    }
}
