@import "../../../index.scss";


.f-feed-container {
    @include mar-pad(unset, 140px 80px);
    width: 100%;
    background-color: #efefef;

    .f-feed-label {
        width: fit-content;
        margin: 10px auto;
        text-align: center;
        display: flex;
        font-size: x-large;
        font-weight: bold;
    }

    .f-feed {
        @include global-max-width(0);

        margin: 60px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .f-feed-item {
            border-radius: 15px;
            // text-align: justify;

            .f-feed-info {
                display: flex;
                align-items: center;

                img {
                    @include wh(38px, 38px);

                    // FIXME Hardcoded Color
                    background-color: #ddd;
                    border-radius: 50%;
                }

                div {
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;

                    span:nth-child(1) {
                        font-weight: bold;
                    }

                    span:nth-child(2) {
                        font-size: small;
                    }
                }
            }

            p {
                margin-top: 15px;
            }
        }
    }
}


@media only screen and (max-width: $media-query-mobile) {
    .f-feed {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-feed {
        @include global-max-width(1);
    }
}