@import "../../../index.scss";

.f-status {
    @include mar-pad(0 auto, 20px);
    @include global-max-width(0);

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    animation: fade 0.3s ease-in-out;

    .f-card {
        @include card;
        @include mar-pad(0px, 30px);
        cursor: default;

        background-color: $bg-color-accent;
        border-radius: 15px;

        .CircularProgressbar-path {
            stroke: $primary-color;
        }

        .CircularProgressbar-text {
            fill: $text-color;
        }

        &:hover {
            filter: none;
        }
    }

    // Storage Card
    .f-card:nth-child(1) {
        @include flex-center;
        flex-direction: column;

        div:nth-child(1) {
            max-width: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;

            span {
                display: flex;
                margin-bottom: 20px;
                font-size: larger;
                font-weight: bold;
            }
        }

        div:nth-child(2) {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;

            span {
                display: flex;
                align-items: center;
            }

            span::before {
                content: "";
                @include wh(15px, 15px);
                @include min-wh(15px, 15px);

                margin-right: 15px;
                background-color: $primary-color;
                border-radius: 50%;
            }

            span:nth-child(2)::before {
                background-color: $bg-color-accent;
            }
        }
    }

    // Advertisement Card
    .f-card:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-direction: column;

        p:nth-child(2) {
            margin-top: 20px;
            font-size: x-large;
            font-weight: bold;
        }

        p:nth-child(3) {
            margin: 10px 0 30px 0;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-status {
        @include global-max-width(2);
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-status {
        @include global-max-width(1);
    }
}
