.f-pricing-card {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 25px;
    transition: 0.3s ease-in-out;
    animation: fade 0.5s ease-in-out ;

    span:nth-child(1){
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
    }
    span:nth-child(2){
       padding-top: 15px;
       display: flex;
       align-items: center;
       gap:10px;
    }
   
     b{
        font-size: 25px;

     }
     p{
        padding-bottom: 15px;
     }

}
    u{
        text-decoration: none;
        font-size: 14px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items:start;
        
        
    li{
        margin: 5px;
        font-size: 13px;
        display: flex;
        align-items: center;
        text-align: left;
        padding:0 30px;
        width: 100%;
        gap:15px;
        
    }

    }
    .f-pricing-card:nth-child(1){
        background-color: var(--safe-color-light);
        border-top: 8px solid var(--safe-color);  
    }

    .f-pricing-card:nth-child(1):hover{
          transform: translateY(-10px);
    }

    .f-pricing-card:nth-child(2){
        background-color: var(--info-color-light);
        border-top: 8px solid var(--info-color);
    }

    .f-pricing-card:nth-child(2):hover{
        transform: translateY(-10px);
    }

    .f-pricing-card:nth-child(3){
        background-color: var(--warn-color-light);
        border-top: 8px solid var(--warn-color);
    }

    .f-pricing-card:nth-child(3):hover{
        transform: translateY(-10px);
     }

     @keyframes fade {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
     }