@import '../../../index.scss';

.f-landing {
    @include flex-center;
    @include scroll-bar-hide;
    // NOTE revert : [Do not set the landing component to vh]
    @include wh(100%, 100vh);
    color: $text-color-permanent;
    // overflow-y: scroll;
    
    .f-container {
        @include global-max-width(0);
        @include mar-pad(0 auto, 50px 20px);

        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        .f-info {
            max-width: 600px;
            margin: 0 auto;

            h1 {
                font-size: xx-large;
            }

            &:nth-child(1) {
                animation: fade 0.4s ease-in-out;

                p {
                    margin-top: 15px;
                }

                .f-form {
                    @include card;
                    @include mar-pad(0, 0);
                    @include wh(100%, 60px);
                    @include no-select;
                    @include flex-center;
                    justify-content: unset;

                    @include focus-style;

                    // margin-top: 50px;
                    background: none;
                    border-radius: 15px;
                    text-align: left;

                    transform: translateY(-60px);

                    .f-form-container {
                        @include flex-center;
                        
                        width: 100%;
                        justify-content: space-between;
                        
                        label {
                            @include mar-pad(0px 20px, 15px 0px);
                            
                            z-index: 1000;
                            position: relative;
                            width: 100%;
                            color: $text-color;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            cursor: pointer;
                        }

                        button {
                            @include mar-pad(10px, 0px 24px);
                        }
                    }

                    &:hover {
                        //TODO change to theme color later
                        background-color: $bg-color-accent;
                    }

                    &:active {
                        filter: brightness(90%);
                    }
                }

                .f-form-background {
                    @include wh(100%, 60px);

                    z-index: 0;
                    position: relative;
                    border-radius: 15px;
                    background-color: $bg-color;

                    transform: translateY(60px);
                }

                .f-progress-bar {
                    z-index: 0;
                    position: relative;
                    border-radius: 15px;
                    background-color: $primary-accent-color;

                    transform: translateY(0px);
                }
            }

            &:nth-child(2) {
                @include wh(100%, 300px);
                @include flex-center;
                border-radius: 5px;
                animation: fade 0.5s ease-in-out;

                img {
                    width: 250px;
                }
            }
        }
    }

    .f-background {
        @include wh(100%, 100%);

        z-index: -1;
        padding-top: 80px;
        background-image: url("../../../assets/landing-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: $splash-filter;
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// NOTE unused
@keyframes slideIndown1 {
    from {
        transform: translatey(-300px);
        opacity: 0;
    }

    to {
        transform: translatey(0);
        opacity: 1;
    }
}


@media only screen and (max-width: $media-query-mobile) {
    .f-landing {
        padding-top: unset;

        .f-container {
            grid-template-columns: repeat(1, 1fr);
            @include global-max-width(2);

            .f-info:nth-child(1) {
                grid-row-start: 2;
            }

            .f-info:nth-child(2) {
                grid-row-start: 1;
            }
        }
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-container {
        @include global-max-width(1);
    }
}