@import "../../../index.scss";

.f-list-view {
    @include no-select;
    background-color: $bg-color-accent;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $text-color-alt;

    animation: fade 0.3s ease-in-out;

    .f-list-clickable {
        @include wh(100%, 100%);
        @include flex-center;
        justify-content: space-between;
        text-decoration: none;
        color: $text-color;

        .f-list-trail {
            display: flex;
            align-items: center;

            div {
                @include flex-center;
                @include wh(38px, 38px);
                background-color: $primary-color;

                img {
                    width: 100%;
                }
            }

            p {
                margin-left: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .f-list-info {
            width: 100%;
            display: flex;
            justify-content: space-around;

            span {
                width: fit-content;
                white-space: nowrap;
            }
        }
    }

    .f-list-action {
        display: flex;
        align-items: center;

        // TODO conver this into a bootstrap
        button {
            @include wh(38px, 38px);
            @include mar-pad(0px 0px 0px 10px, 0px);

            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
            }

            i {
                color: $text-color;
            }
        }
    }

    &:hover {
        filter: brightness(95%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-list-view {
        .f-list-clickable {
            .f-list-info {
                display: none;
            }
        }
    }
}
