@import "../../index.scss";

.f-wrapper-info {
    width: 100%;
    max-width: 800px;
    padding: 50px;
    padding-bottom: 200px;
    margin: 0 auto;
}

.f-wrapper-info ul, .f-wrapper-info ol {
    margin-left: 30px;
}

.f-wrapper-info p, .f-wrapper-info li {
    text-align: justify;
}

.f-wrapper-info a {
    color: blue;
    text-decoration: underline;
}