.f-list-view {
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    //added
    animation: fade 0.3s ease-in-out;

    div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    div:nth-child(1) {
        div {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color-bg-light);
            border-radius: 50%;
        }

        p {
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .f-size {
        width: fit-content;
    }

    div:nth-child(3) {
        justify-content: end;

        button {
            width: 38px;
            height: 38px;
            margin-left: 10px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        button:hover {
            background-color: #ddd;
        }
    }
}
//added
@keyframes fade {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


@media only screen and (max-width: 768px) {
    .f-list-view {
        div:nth-child(1) {
        }

        .f-size {
            display: none;
        }
    }
}