@import '../../../../index.scss';


.f-list-view {
    @include no-select;
    cursor: pointer;

    background-color: white;
    
    height: 60px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #ddd;
    animation: fade 0.3s ease-in-out;

    div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    div:nth-child(1) {
        div {
            @include flex-center;
            @include wh(38px, 38px);
            
            background-color: $primary-color-bg-light;
            border-radius: 50%;
        }

        p {
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .f-size {
        width: fit-content;
    }

    div:nth-child(3) {
        justify-content: end;

        button {
            @include wh(38px, 38px);
            
            margin-left: 10px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        button:hover {
            background-color: #ddd;
        }
    }

    &:hover {
        filter: brightness(95%);
    }
}

@keyframes fade {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


@media only screen and (max-width: 768px) {
    .f-list-view {
        div:nth-child(1) {
            display: inherit;
        }

        .f-size {
            display: none;
        }
    }
}