@import "../../../index.scss";

.f-nav {
    @include no-select;
    @include flex-center;
    @include absolute-pos(0, 0, unset, 0);

    justify-content: space-between;
    // afaik you can only use values [ -1 | 0 | 1 ]
    z-index: 1000;
    position: fixed;
    height: 60px;
    padding: 0 20px;
    background-color: $bg-color;
    // border-bottom: 1px solid #ddd;

    .f-branding {
        @include flex-center;
        justify-content: unset;
        background-color: unset;
        color: $text-color;

        &:hover {
            filter: brightness(100%);
        }

        img {
            @include wh(30px, 30px);
        }

        span {
            margin-left: 10px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 2px;
            font-family: "Glacial Indifference";
        }
    }

    .f-links {
        height: 100%;
        display: flex;

        .f-links-item {
            @include flex-center;

            height: 100%;
            margin: 0 15px;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: $text-color;
            border-bottom: 4px solid transparent;
        }

        .f-links-active {
            font-weight: bold;
            color: $primary-color-active;
            border-bottom: 4px solid $primary-color-active;
        }
    }

    .f-nav-functions {
        @include flex-center;

        div {
            @include wh(0, 30px);
            @include mar-pad(2px 10px, 0px 0.3px);
            background-color: $text-color-permanent;
        }
    }
}

// ================================
// [    duplicated for theming    ]
// ================================

.n-theme {
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-color-permanent;

    .f-branding {
        color: $text-color-permanent;
    }

    .f-links {
        .f-links-item {
            color: $text-color-permanent;
        }

        .f-links-active {
            border-bottom: 4px solid $text-color-permanent;
        }
    }

    .special-signin {
        border: 1px solid $text-color-permanent;
    }
}

// Mobile Navigation
.f-btm-nav {
    @include absolute-pos(unset, 0, 0, 0);

    height: 60px;
    background-color: $bg-color;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    border-top: 1px solid $text-color-alt;
    z-index: 800;

    .f-btm-nav-item {
        @include wh(100%, 100%);
        @include flex-center;
        text-decoration: none;
        color: $text-color;
        display: flex;
        flex-direction: column;

        span {
            font-size: small;
        }
    }

    .f-btm-nav-active {
        color: $text-color;

        span {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-nav,
    .f-nav-theme {
        display: none;
    }

    .f-btm-nav {
        display: flex;
    }
}
