@import '../../../index.scss';


.f-nav {
    @include no-select;

    z-index: 10;

    height: 60px;
    padding: 0 20px;
    @include flex-center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ddd;

    .f-branding {
        @include flex-center;
        justify-content: unset;

        img {
                @include wh(30px,30px);
        }

        span {
            margin-left: 10px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 2px;
            font-family: "glacial indifference";
        }
    }

    .f-links {
        height: 100%;
        display: flex;
                
        .f-links-item {
            height: 100%;
            margin: 0 15px;

            @include flex-center;
            flex-direction: column;

            position: relative;
            text-decoration: none;
            color: black;
            border-bottom: 4px solid transparent;

            .f-indicator {
                @include wh(100%, 4px);

                background-color: white;
                position: absolute;
                bottom: 0;
                border-radius: 10px;
            }

            .f-indicator-active {
                background-color: var(--primary-color);
            }

        }

        .f-links-active {
            font-weight: bold;
            color: var(--primary-color);
            border-bottom: 4px solid var(--primary-color);
        }

    }
    
}
        
//navigation animation
        .f-branding img ,.f-branding span{
            animation: slidedown 0.4s ease-in-out;
        }
    
     .f-links-item:nth-child(1){
          animation: slidedown1 0.4s ease-in-out;
     }
     .f-links-item:nth-child(2){
        animation: slidedown2 0.5s ease-in-out;
   }
     .f-links-item:nth-child(3){
        animation: slidedown3 0.6s ease-in-out;
   }
     .f-links-item:nth-child(4){
        animation: slidedown4 0.7s ease-in-out;
   }
@keyframes slidedown {
    from{
       transform: translateY(-100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity:1;
    }
}
@keyframes slidedown1 {
    from{
       transform: translateY(-100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown2 {
    from{
       transform: translateY(-100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown3 {
    from{
       transform: translateY(-100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown4 {
    from{
       transform: translateY(-100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown5 {
    from{
       transform: translateX(100px);
       opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


// Bottom Navigation
.f-btm-nav {
    height: 60px;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    z-index: 10;

    .f-btm-nav-item {
        @include wh(100%, 100%);
        @include flex-center;
        text-decoration: none;
        color: black;
    }

    .f-btm-nav-active {
        color: var(--primary-color)
    }

}

@media only screen and (max-width: 768px) {
    .f-nav .f-links {
        display: none;
    }

    .f-btm-nav {
        display: flex;
    }
}
