@import '../../../index.scss';


.f-nav {
    @include no-select;
    @include flex-center;
    justify-content: space-between;

    z-index: 800;
    position: fixed;

    height: 60px;
    padding: 0 20px;
    background-color: white;
    
    @include absolute-pos(0,0, unset ,0);
    
    // border-bottom: 1px solid #ddd;

    .f-branding {
        @include flex-center;
        justify-content: unset;

        img {
            @include wh(30px, 30px);
        }

        span {
            margin-left: 10px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 2px;
            font-family: "glacial indifference";
        }
    }

    .f-links {
        height: 100%;
        display: flex;

        .f-links-item {
            height: 100%;
            margin: 0 15px;

            @include flex-center;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: black;
            border-bottom: 4px solid transparent;

            .f-indicator {
                @include wh(100%, 4px);
                background-color: white;
                position: absolute;
                bottom: 0;
                border-radius: 10px;
            }

            .f-indicator-active {
                background-color: $primary-color;
            }

        }

        .f-links-active {
            font-weight: bold;
            color: $primary-color;
            border-bottom: 4px solid $primary-color;
        }

    }

}






.f-nav-theme {
    @include no-select;
    @include flex-center;
    justify-content: space-between;

    z-index: 800;
    position: fixed;

    height: 60px;
    padding: 0 20px;
    background-color: $primary-color;

    @include absolute-pos(0, 0, unset, 0);

    // border-bottom: 1px solid #ddd;

    .f-branding {
        @include flex-center;
        justify-content: unset;

        img {
            @include wh(30px, 30px);
        }

        span {
            margin-left: 10px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 2px;
            font-family: "glacial indifference";
            color: white;
        }
    }

    .f-links {
        height: 100%;
        display: flex;

        .f-links-item {
            height: 100%;
            margin: 0 15px;

            @include flex-center;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: white;
            border-bottom: 4px solid transparent;

            .f-indicator {
                @include wh(100%, 4px);
                background-color: white;
                position: absolute;
                bottom: 0;
                border-radius: 10px;
            }

            .f-indicator-active {
                background-color: white;
            }

        }

        .f-links-active {
            font-weight: bold;
            color: white;
            border-bottom: 4px solid white;
        }

    }

}












// Bottom Navigation
.f-btm-nav {
    height: 60px;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    z-index: 800;

    .f-btm-nav-item {
        @include wh(100%, 100%);
        @include flex-center;
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;

        span {
            font-size: small;
        }
    }

    .f-btm-nav-active {
        color: black;

        span {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 768px) {
    .f-nav, .f-nav-theme {
        display: none;
    }

    .f-btm-nav {
        display: flex;
    }
}