@import '../../index.scss';


.mainView {
    height: 100%;
}

.f-footer-spacer {
    height: 60px;
    display: none;
}

@media only screen and (max-width: $media-query-mobile) {
    .f-footer-spacer {
        @include global-max-width(2);
        display: block;
    }
}