@import '../../../../index.scss';


.f-acc-bg {
    @include wh(100%, 300px);
    background-color: $primary-color;
}

.f-prof-container {
    @include max-wh(1320px, 120px);
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    transform: translateY(-100px);
    animation: fade 0.5s ease-in-out;

    div {
        margin: 0 20px;
        height: fit-content;
    }

    div:nth-child(1) {
        display: flex;

        img {
            @include wh(200px, 200px);
            @include min-wh(200px, 200px);

            border-radius: 50%;
            border: 10px solid $bg-color;
            background-color: $primary-color-bg-light;
        }

        span {
            margin-left: 20px;
            margin-top: 30px;

            font-size: xx-large;
            font-weight: bold;

            transform: translateY(100px);
            transition: none;
            height: fit-content;
        }
    }

    div:nth-child(2) {
        padding-top: 20px;

        display: flex;
        flex-direction: column;
        transform: translateY(100px);
        transition: none;

        span {
            text-align: right;
        }

        span:nth-child(1) {
            font-size: larger;
            color: $accent-color;
        }
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


@media only screen and (max-width: 768px) {
    .f-prof-container {
        max-height: 320px;
        flex-direction: column;

        div:nth-child(1) {
            flex-direction: column;
            align-items: center;

            span {
                transform: unset;
                margin: 20px 0px 0px 0px;
            }
        }

        div:nth-child(2) {
            align-items: center;
            transform: unset;
        }
    }
}