@import "../../../index.scss";

.f-offers {
    @include global-max-width(0);
    @include mar-pad(0 auto, 40px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
    div:nth-child(2) {
        @include shadow;
        z-index: 1;
        transform: scale(1.1, 1.1);
        
        &:hover {
            transform: scale(1.13, 1.13);
        }
    }

    div:nth-child(1):hover {
        transform: scale(1.01, 1.01);
    }
    div:nth-child(3):hover {
        transform: scale(1.01, 1.01);
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-offers {
        grid-template-columns: 1fr;
        margin-top: 40px;
        @include global-max-width(2);
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-offers {
        @include global-max-width(1);
    }
}
