@font-face {
    font-family: magicoon;
    src: url("../../assets/magicoon/fonts/AspIcon.ttf");
}

.f-icon ::before {
    font-family: magicoon;
}


.ic-arrow-down::before { content: "e800" }
.ic-arrow-right::before { content: "e801" }
.ic-arrow-left::before { content: "e802" }
.ic-bell::before { content: "e803" }
.ic-arrow-up::before { content: "e804" }
.ic-bookmark::before { content: "e805" }
.ic-bell-slash::before { content: "e806" }
.ic-camera::before { content: "e807" }
.ic-calendar::before { content: "e808" }
.ic-check-circle::before { content: "e809" }
.ic-chart-pie::before { content: "e80a" }
.ic-chevron-circle-down::before { content: "e80b" }
.ic-chevron-circle-left::before { content: "e80c" }
.ic-chevron-circle-right::before { content: "e80d" }
.ic-chevron-down::before { content: "e80e" }
.ic-chevron-circle-up::before { content: "e80f" }
.ic-chevron-left::before { content: "e810" }
.ic-chevron-right::before { content: "e811" }
.ic-chevron-up::before { content: "e812" }
.ic-clock::before { content: "e813" }
.ic-comment-dots::before { content: "e814" }
.ic-comment::before { content: "e815" }
.ic-compass::before { content: "e816" }
.ic-comments::before { content: "e817" }
.ic-copy::before { content: "e818" }
.ic-coupon::before { content: "e819" }
.ic-credit-card::before { content: "e81a" }
.ic-desktop::before { content: "e81b" }
.ic-discount::before { content: "e81c" }
.ic-download::before { content: "e81d" }
.ic-envelope::before { content: "e81e" }
.ic-exclamation-circle::before { content: "e81f" }
.ic-eye::before { content: "e820" }
.ic-eye-slash::before { content: "e821" }
.ic-file::before { content: "e822" }
.ic-film::before { content: "e823" }
.ic-flag::before { content: "e824" }
.ic-folder::before { content: "e825" }
.ic-filter::before { content: "e826" }
.ic-globe::before { content: "e827" }
.ic-headphones::before { content: "e828" }
.ic-heart::before { content: "e829" }
.ic-image::before { content: "e82a" }
.ic-inbox::before { content: "e82b" }
.ic-info-circle::before { content: "e82c" }
.ic-home::before { content: "e82d" }
.ic-link::before { content: "e82e" }
.ic-lock::before { content: "e82f" }
.ic-log-in::before { content: "e830" }
.ic-log-out::before { content: "e831" }
.ic-map::before { content: "e832" }
.ic-map-marker::before { content: "e833" }
.ic-map-pin::before { content: "e834" }
.ic-microphone::before { content: "e835" }
.ic-menu::before { content: "e836" }
.ic-microphone-slash::before { content: "e837" }
.ic-minus-square::before { content: "e838" }
.ic-mobile::before { content: "e839" }
.ic-more-h-circle::before { content: "e83a" }
.ic-more-v-circle::before { content: "e83b" }
.ic-package::before { content: "e83c" }
.ic-paperclip::before { content: "e83d" }
.ic-phone::before { content: "e83e" }
.ic-pen::before { content: "e83f" }
.ic-plus-square::before { content: "e840" }
.ic-question-circle::before { content: "e841" }
.ic-search::before { content: "e842" }
.ic-send::before { content: "e843" }
.ic-settings::before { content: "e844" }
.ic-shield::before { content: "e845" }
.ic-sliders-h::before { content: "e846" }
.ic-shopping-basket::before { content: "e847" }
.ic-sort-ascending::before { content: "e848" }
.ic-sort-descending::before { content: "e849" }
.ic-star::before { content: "e84a" }
.ic-stopwatch::before { content: "e84b" }
.ic-store::before { content: "e84c" }
.ic-tablet::before { content: "e84d" }
.ic-tag::before { content: "e84e" }
.ic-thumbtack::before { content: "e84f" }
.ic-trash::before { content: "e850" }
.ic-user::before { content: "e851" }
.ic-unlock::before { content: "e852" }
.ic-upload::before { content: "e853" }
.ic-users::before { content: "e854" }
.ic-times-square::before { content: "e855" }
.ic-users-three::before { content: "e856" }
.ic-video::before { content: "e857" }
.ic-video-slash::before { content: "e858" }
.ic-volume-up::before { content: "e859" }
.ic-arrow-down-outline::before { content: "e85a" }
.ic-arrow-left-outline::before { content: "e85b" }
.ic-arrow-right-outline::before { content: "e85c" }
.ic-arrow-up-outline::before { content: "e85d" }
.ic-bell-outline::before { content: "e85e" }
.ic-bell-slash-outline::before { content: "e85f" }
.ic-bookmark-outline::before { content: "e860" }
.ic-calendar-outline::before { content: "e861" }
.ic-camera-outline::before { content: "e862" }
.ic-chart-pie-outline::before { content: "e863" }
.ic-check-circle-outline::before { content: "e864" }
.ic-chevron-circle-down-outline::before { content: "e865" }
.ic-chevron-circle-left-outline::before { content: "e866" }
.ic-chevron-circle-right-outline::before { content: "e867" }
.ic-chevron-circle-up-outline::before { content: "e868" }
.ic-chevron-down-outline::before { content: "e869" }
.ic-chevron-left-outline::before { content: "e86a" }
.ic-chevron-right-outline::before { content: "e86b" }
.ic-chevron-up-outline::before { content: "e86c" }
.ic-clock-outline::before { content: "e86d" }
.ic-comment-outline::before { content: "e86e" }
.ic-comment-dots-outline::before { content: "e86f" }
.ic-comments-outline::before { content: "e870" }
.ic-compass-outline::before { content: "e871" }
.ic-copy-outline::before { content: "e872" }
.ic-coupon-outline::before { content: "e873" }
.ic-desktop-outline::before { content: "e874" }
.ic-credit-card-outline::before { content: "e875" }
.ic-discount-outline::before { content: "e876" }
.ic-download-outline::before { content: "e877" }
.ic-envelope-outline::before { content: "e878" }
.ic-exclamation-circle-outline::before { content: "e879" }
.ic-eye-slash-outline::before { content: "e87a" }
.ic-eye-outline::before { content: "e87b" }
.ic-file-outline::before { content: "e87c" }
.ic-film-outline::before { content: "e87d" }
.ic-filter-outline::before { content: "e87e" }
.ic-flag-outline::before { content: "e87f" }
.ic-folder-outline::before { content: "e880" }
.ic-globe-outline::before { content: "e881" }
.ic-headphones-outline::before { content: "e882" }
.ic-heart-outline::before { content: "e883" }
.ic-home-outline::before { content: "e884" }
.ic-image-outline::before { content: "e885" }
.ic-inbox-outline::before { content: "e886" }
.ic-info-circle-outline::before { content: "e887" }
.ic-log-in-outline::before { content: "e888" }
.ic-link-outline::before { content: "e889" }
.ic-log-out-outline::before { content: "e88a" }
.ic-map-outline::before { content: "e88b" }
.ic-map-pin-outline::before { content: "e88c" }
.ic-map-marker-outline::before { content: "e88d" }
.ic-more-h-circle-outline::before { content: "e88e" }
.ic-microphone-outline::before { content: "e88f" }
.ic-more-v-circle-outline::before { content: "e890" }
.ic-package-outline::before { content: "e891" }
.ic-lock-outline::before { content: "e892" }
.ic-pen-outline::before { content: "e893" }
.ic-paperclip-outline::before { content: "e894" }
.ic-plus-square-outline::before { content: "e895" }
.ic-menu-outline::before { content: "e896" }
.ic-question-circle-outline::before { content: "e897" }
.ic-minus-square-outline::before { content: "e898" }
.ic-microphone-slash-outline::before { content: "e899" }
.ic-search-outline::before { content: "e89a" }
.ic-send-outline::before { content: "e89b" }
.ic-settings-outline::before { content: "e89c" }
.ic-shield-outline::before { content: "e89d" }
.ic-shopping-basket-outline::before { content: "e89e" }
.ic-sliders-h-outline::before { content: "e89f" }
.ic-mobile-outline::before { content: "e8a0" }
.ic-sort-ascending-outline::before { content: "e8a1" }
.ic-sort-descending-outline::before { content: "e8a2" }
.ic-star-outline::before { content: "e8a3" }
.ic-stopwatch-outline::before { content: "e8a4" }
.ic-store-outline::before { content: "e8a5" }
.ic-tablet-outline::before { content: "e8a6" }
.ic-phone-outline::before { content: "e8a7" }
.ic-tag-outline::before { content: "e8a8" }
.ic-thumbtack-outline::before { content: "e8a9" }
.ic-times-square-outline::before { content: "e8aa" }
.ic-trash-outline::before { content: "e8ab" }
.ic-unlock-outline::before { content: "e8ac" }
.ic-upload-outline::before { content: "e8ad" }
.ic-user-outline::before { content: "e8ae" }
.ic-users-outline::before { content: "e8af" }
.ic-video-outline::before { content: "e8b0" }
.ic-video-slash-outline::before { content: "e8b1" }
.ic-users-three-outline::before { content: "e8b2" }
.ic-volume-up-outline::before { content: "e8b3" }
.ic-arrow-down-outline-bold::before { content: "e8b4" }
.ic-arrow-left-outline-bold::before { content: "e8b5" }
.ic-arrow-right-outline-bold::before { content: "e8b6" }
.ic-arrow-up-outline-bold::before { content: "e8b7" }
.ic-bell-outline-bold::before { content: "e8b8" }
.ic-bell-slash-outline-bold::before { content: "e8b9" }
.ic-bookmark-outline-bold::before { content: "e8ba" }
.ic-calendar-outline-bold::before { content: "e8bb" }
.ic-camera-outline-bold::before { content: "e8bc" }
.ic-chart-pie-outline-bold::before { content: "e8bd" }
.ic-check-circle-outline-bold::before { content: "e8be" }
.ic-chevron-circle-left-outline-bold::before { content: "e8bf" }
.ic-chevron-circle-down-outline-bold::before { content: "e8c0" }
.ic-chevron-circle-up-outline-bold::before { content: "e8c1" }
.ic-chevron-down-outline-bold::before { content: "e8c2" }
.ic-chevron-circle-right-outline-bold::before { content: "e8c3" }
.ic-chevron-left-outline-bold::before { content: "e8c4" }
.ic-chevron-up-outline-bold::before { content: "e8c5" }
.ic-clock-outline-bold::before { content: "e8c6" }
.ic-comment-outline-bold::before { content: "e8c7" }
.ic-chevron-right-outline-bold::before { content: "e8c8" }
.ic-comment-dots-outline-bold::before { content: "e8c9" }
.ic-comments-outline-bold::before { content: "e8ca" }
.ic-compass-outline-bold::before { content: "e8cb" }
.ic-copy-outline-bold::before { content: "e8cc" }
.ic-coupon-outline-bold::before { content: "e8cd" }
.ic-credit-card-outline-bold::before { content: "e8ce" }
.ic-desktop-outline-bold::before { content: "e8cf" }
.ic-discount-outline-bold::before { content: "e8d0" }
.ic-download-outline-bold::before { content: "e8d1" }
.ic-envelope-outline-bold::before { content: "e8d2" }
.ic-exclamation-circle-outline-bold::before { content: "e8d3" }
.ic-eye-slash-outline-bold::before { content: "e8d4" }
.ic-eye-outline-bold::before { content: "e8d5" }
.ic-file-outline-bold::before { content: "e8d6" }
.ic-film-outline-bold::before { content: "e8d7" }
.ic-filter-outline-bold::before { content: "e8d8" }
.ic-flag-outline-bold::before { content: "e8d9" }
.ic-folder-outline-bold::before { content: "e8da" }
.ic-globe-outline-bold::before { content: "e8db" }
.ic-headphones-outline-bold::before { content: "e8dc" }
.ic-heart-outline-bold::before { content: "e8dd" }
.ic-home-outline-bold::before { content: "e8de" }
.ic-image-outline-bold::before { content: "e8df" }
.ic-inbox-outline-bold::before { content: "e8e0" }
.ic-info-circle-outline-bold::before { content: "e8e1" }
.ic-link-outline-bold::before { content: "e8e2" }
.ic-lock-outline-bold::before { content: "e8e3" }
.ic-log-in-outline-bold::before { content: "e8e4" }
.ic-log-out-outline-bold::before { content: "e8e5" }
.ic-map-outline-bold::before { content: "e8e6" }
.ic-map-marker-outline-bold::before { content: "e8e7" }
.ic-map-pin-outline-bold::before { content: "e8e8" }
.ic-menu-outline-bold::before { content: "e8e9" }
.ic-microphone-outline-bold::before { content: "e8ea" }
.ic-microphone-slash-outline-bold::before { content: "e8eb" }
.ic-minus-square-outline-bold::before { content: "e8ec" }
.ic-mobile-outline-bold::before { content: "e8ed" }
.ic-more-h-circle-outline-bold::before { content: "e8ee" }
.ic-more-v-circle-outline-bold::before { content: "e8ef" }
.ic-package-outline-bold::before { content: "e8f0" }
.ic-paperclip-outline-bold::before { content: "e8f1" }
.ic-pen-outline-bold::before { content: "e8f2" }
.ic-phone-outline-bold::before { content: "e8f3" }
.ic-plus-square-outline-bold::before { content: "e8f4" }
.ic-question-circle-outline-bold::before { content: "e8f5" }
.ic-search-outline-bold::before { content: "e8f6" }
.ic-send-outline-bold::before { content: "e8f7" }
.ic-settings-outline-bold::before { content: "e8f8" }
.ic-shield-outline-bold::before { content: "e8f9" }
.ic-shopping-basket-outline-bold::before { content: "e8fa" }
.ic-sliders-h-outline-bold::before { content: "e8fb" }
.ic-sort-ascending-outline-bold::before { content: "e8fc" }
.ic-sort-descending-outline-bold::before { content: "e8fd" }
.ic-star-outline-bold::before { content: "e8fe" }
.ic-stopwatch-outline-bold::before { content: "e8ff" }
.ic-store-outline-bold::before { content: "e900" }
.ic-tablet-outline-bold::before { content: "e901" }
.ic-tag-outline-bold::before { content: "e902" }
.ic-thumbtack-outline-bold::before { content: "e903" }
.ic-times-square-outline-bold::before { content: "e904" }
.ic-trash-outline-bold::before { content: "e905" }
.ic-unlock-outline-bold::before { content: "e906" }
.ic-upload-outline-bold::before { content: "e907" }
.ic-user-outline-bold::before { content: "e908" }
.ic-users-outline-bold::before { content: "e909" }
.ic-users-three-outline-bold::before { content: "e90a" }
.ic-video-outline-bold::before { content: "e90b" }
.ic-video-slash-outline-bold::before { content: "e90c" }
.ic-volume-up-outline-bold::before { content: "e90d" }
