@import '../../../index.scss';


.f-collapse {
    div {
        min-height: 44px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        :hover {
            text-decoration: underline;
        }

        p {
            margin-left: 10px;
            font-weight: bold;
        }
    }

    .f-desc {
        margin-left: 30px;
        overflow: hidden;
    }
}