@import "../../index.scss";

.f-signin-container {
    @include mar-pad(0, 0);
    @include wh(100%, 100vh);
    display: flex;
    flex-direction: row;

    .f-s-background {
        @include mar-pad(unset, unset);
        @include wh(50%, 100%);

        z-index: -1;
        background-image: url("../../assets/landing-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: $splash-filter;
    }

    .f-s-container {
        
    }
}
