.f-modal-qr {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    .f-modal-qr-wrapper {
        width: 100%;
        max-width: 400px;
        min-height: 200px;
        padding: 40px 20px;
        margin: 0 30px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .f-header {
            margin-bottom: 30px;
            font-size: x-large;
            font-weight: bold;
        }

        .f-btn:nth-child(3) {
            margin-top: 50px;
        }
    }
}