// TEXT COLOR
$text-color: var(--text-color);
$text-color-alt: var(--text-color-alt);
$text-color-permanent: var(--text-color-permanent);

// THEME COLORS
$bg-color: var(--bg-color);
$bg-color-accent: var(--bg-color-accent);
$bg-color-accent-x: var(--bg-color-accent-x);

$primary-color: var(--primary-color);
$primary-accent-color: var(--primary-accent-color);
$accent-color: var(--accent-color);
$shadow-color: var(--shadow-color);

// ACTIONS
$primary-color-hover: var(--primary-color-hover);
$accent-color-hover: var(--accent-color-hover);

$primary-color-active: var(--primary-color-active);
$accent-color-active: var(--accent-color-active);

// COLOR MESSAGE
$safe-color: var(--safe-color);
$info-color: var(--info-color);
$warn-color: var(--warn-color);
$danger-color: var(--danger-color);
$disabled-color: var(--disabled-color);

$safe-color-light: var(--safe-color-light);
$info-color-light: var(--info-color-light);
$warn-color-light: var(--warn-color-light);
$danger-color-light: var(--danger-color-light);

// BRANDS COLORS
$facebook-color: var(--facebook-color);
$instagram-color: var(--instagram-color);
$twitter-color: var(--twitter-color);

// FILTER FUNCTIONS
$splash-filter: var(--splash-filter);

:root {
    // TEXT COLOR
    --text-color: #000000;
    --text-color-alt: #292929;
    --text-color-permanent: #ffffff;

    // THEME COLORS
    --bg-color: #ffffff;
    --bg-color-accent: #f1eef7;
    --bg-color-accent-x: #b4a6cf80;

    --primary-color: #735aaf;
    --primary-accent-color: #4b65ba;
    --accent-color: #ec6e00;
    --shadow-color: #00000029;

    // STATE ??? DEBRECATED | Identify relations
    // --primary-color-bg-light: #110627;

    // ACTIONS
    --primary-color-hover: #604d8b;
    --accent-color-hover: #d36402;

    --primary-color-active: #9776e3;
    --accent-color-active: #ff8f2d;

    // COLOR MESSAGE
    --safe-color: #46bc4a;
    --info-color: #428aea;
    --warn-color: #ec6e00;
    --danger-color: #ec0000;
    --disabled-color: #797979;

    --safe-color-light: #ecf8ec;
    --info-color-light: #ebf3fd;
    --warn-color-light: #fdf0e5;
    --danger-color-light: #fde5e5;

    // BRANDS COLORS
    --facebook-color: #1877f2;
    --instagram-color: #833ab4;
    --twitter-color: #1da1f2;

    // FILTER FUNCTIONS
    --splash-filter: brightness(100%);
}

[data-theme="dark"] {
    // TEXT COLOR
    --text-color: #ddd;
    --text-color-alt: #f0eaff;

    // THEME COLORS
    --bg-color: #121212;
    --bg-color-accent: #28262C;
    --bg-color-accent-x: #28262C80;

    --primary-color: #4b377e;
    --primary-accent-color: #32379d;
    --accent-color: #b05709;
    --shadow-color: #00000029;

    // ACTIONS
    --primary-color-hover: #604d8b;
    --accent-color-hover: #d36402;

    --primary-color-active: #9776e3;
    --accent-color-active: #ff8f2d;

    // COLOR MESSAGE
    --safe-color: #2d9e31;
    --info-color: #306fc0;
    --warn-color: #b75d0e;
    --danger-color: #c01818;
    --disabled-color: #3b3b3b;

    --safe-color-light: #1b361b;
    --info-color-light: #16202c;
    --warn-color-light: #302218;
    --danger-color-light: #231010;

    // BRANDS COLORS
    --facebook-color: #1877f2;
    --instagram-color: #833ab4;
    --twitter-color: #1da1f2;

    // FILTER FUNCTIONS
    --splash-filter: brightness(64%) saturate(131%);
}
