@import '../../../index.scss';


.f-prem-landing {
    // FIXME hardcoded color
    color:black;
    animation: fade 0.4s ease-in-out ;

    .f-container {
        @include mar-pad(0 auto,50px 20px);
        @include wh(100%, auto);
        @include global-max-width(0);
        
        text-align: center;
       
        p {
            max-width: 500px;
            margin: 20px auto 0 auto;
        }
    }
}


@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media only screen and (max-width: $media-query-mobile) {
    .f-prem-landing {

        .f-container {
            padding-top: unset;
    
        }
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-container {
        @include global-max-width(1);
    }
}