@import "../../../index.scss";

.f-upload-box {
    // @include flex-center;
    @include global-max-width(0);
    @include mar-pad(0 auto, 20px);

    padding-top: 0px;

    // background-color: unset;

    .drop-area {
        @include card;
        @include flex-center;
        @include mar-pad(0, 0);
        
        flex-direction: column;
        gap: 20px;
        // cursor: default;
        background-color: $bg-color-accent;
        outline: 1px dashed $primary-color;
        outline-offset: -30px;

        &:hover {
            filter: unset;
        }

        &:active {
            filter: unset;
        }

        label {
            padding: 50px;
            width: 100%;
            cursor: pointer;
        }
    }
}

.f-upload-list {
    @include global-max-width(0);
    @include mar-pad(0 auto, 0 0 50px 0);

    display: flex;
    flex-direction: column;
    animation: fade 0.3s ease-in-out;

    .f-del-all-wrapper {
        @include flex-center;
        justify-content: space-between;

        .f-label {
            margin: 20px 0 20px 20px;
            font-size: larger;
            font-weight: bold;
        }

        .f-btn {
            margin-right: 20px;
            background-color: $danger-color;
        }
    }

    .f-upload-list-no-data {
        margin: 0 20px;
        background-color: $bg-color-accent;
        border-radius: 15px;

        p {
            @include wh(100%, 200px);
            @include flex-center;
            font-size: larger;
        }
    }

    .f-list-view p {
        width: 200px;
        /* adjust as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-list-view p {
        max-width: 130px;
        /* adjust as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .f-upload-box,
    .f-upload-list {
        @include global-max-width(2);
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-upload-list,
    .f-upload-box {
        @include global-max-width(1);
    }
}
