.f-offers {
    width: 100%;
    max-width: 1320px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    transform: translateY(-100px);
}



@media only screen and (max-width: 768px) {

    .f-offers {
        grid-template-columns: 1fr;

    }

}