@import "../../../index.scss";

.f-modal {
    @include absolute-pos(0, 0, 0, 0);
    @include flex-center;
    position: fixed;
    pointer-events: all;
    z-index: 800;

    .f-modal-wrapper {
        @include mar-pad(auto, 30px 30px 10px 30px);
        // @include wh(50%, 50%);

        z-index: 1000;
        display: flex;
        flex-direction: column;
        cursor: default;

        // add format here for header or whatever
        .f-modal-header {
            @include flex-center;
            justify-content: space-between;
            border-bottom: 1px solid $text-color-alt;

            button {
                pointer-events: all;
                @include wh(30px, 30px);
                display: inline-flex;
            }
        }
    }

    .f-modal-background {
        @include flex-center;
        @include wh(100%, 100%);

        position: absolute;
        background-color: $shadow-color;
        // filter: opacity(0.5);
    }
}
