@import '../../../index.scss';

.f-modal-loading {
    @include absolute-pos(0, 0, 0, 0);
    @include flex-center;

    position: fixed;
    background-color: $shadow-color;
    // z-index: 1000;

    .f-modal-loading-wrapper {
        @include flex-center;

        width: 100%;
        max-width: 400px;
        min-height: 200px;
        margin: 0 30px;

        background-color: $bg-color;
        border-radius: 15px;

        flex-direction: column;
    }
}