.f-not-found {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
        max-width: 300px;
    }

    h2 {
        margin: 20px auto 0 auto;
        text-align: center;
        max-width: 500px;
    }

    p {
        margin: 20px auto 0 auto;
        text-align: center;
        max-width: 500px;
    }
}