@import "../../index.scss";


.f-not-found {
    @include global-max-width(0);
    @include mar-pad(auto , 0);
    @include flex-center;
    @include wh(100%, 100vh);

    flex-direction: column;

    img {
        max-width: 200px;
    }

    h2 {
        margin: 20px auto 0 auto;
        text-align: center;
        max-width: 500px;
    }

    p {
        margin: 20px auto 0 auto;
        text-align: center;
        max-width: 500px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-not-found{
        @include global-max-width(1);
    }
}