@import '../../index.scss';

@mixin f-dashboard-card {
    margin: 0px 14px;
    background-color: var(--primary-color-bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin storage-indicator {
    padding: 6px;
    margin: 0px 8px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-account-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 65%, var(--primary-color) 65%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .divider {
        background-color: var(--primary-color);
        border-radius: 20px;
        margin: 0px 8px;
        margin-bottom: 30px;
    }

    .f-no-account {
        @include card;

        margin-top: 100px;
        padding: 120px 80px;
        width: 60%;

        a {
            margin-top: 50px;
        }

    }


    .f-account-overview {
        // display: flex;
        // flex-direction: row;
        margin-top: 260px;
        padding: 0px 200px;
        background-color: white;
        width: 100%;
        
        .f-account-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .f-account-photo {
                display: flex;
                flex-direction: row;
                height: 136px;
                align-items: center;
                
                img {
                    background-color: var(--primary-color-bg-light);
                    border-radius: 100%;
                    //TODO make color variable to bg
                    border: 8px solid white;
                    width: 192px;
                    height: 192px;
                    position: relative;
                    top: -68px;
                }
                
                .f-account-name {
                    text-indent: 40px;
                    margin-bottom: 25px;
                    position: relative;
                }

            }

            .f-account-status {            

                .f-member-info {
                    text-align: right;

                    h3 {
                        color: var(--primary-color);
                    }

                }

            }

        }

        .f-account-content {
            .f-account-content-header {
                padding: 10px 10px 30px 10px;
                font-size: 21px;
            }

            .f-account-dashboard {
                display: flex;
                flex-direction: row;
                padding: 0px 20px;
                margin-bottom: 40px;
                
                .f-account-storage {
                    @include card;
                    @include f-dashboard-card;
                    width: 30%;


                    .f-storage-progress {
                        margin: 20px 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        width: 140px;
                        height: 140px;
                        background-color: var(--primary-color);
                            
                        .f-storage-progress-value {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            border-radius: 100%;
                            width: 120px;
                            height: 120px;
                            background-color: var(--primary-color-bg-light);
                        }
                    }

                    .f-storage-status {
                        display: flex;
                        flex-direction: row;
                        
                        .f-storage-info {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: small;

                            .f-storage-indicator-A {
                                @include storage-indicator;
                                background-color: var(--primary-color);
                            }

                            .f-storage-indicator-B {
                                @include storage-indicator;
                                background-color: var(--shadow-color);
                            }
                        }
                    }
                }
                
                .f-account-upgradable-flags {
                    @include card;
                    @include f-dashboard-card;
                    width: 70%;
                    align-items: start;
                    padding: 40px;
                    
                    .f-flags-icon {
                        margin-bottom: 14px;
                    }
                    
                    .f-flags-content {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        justify-content: space-between;

                        .f-flags-button {
                            display: flex;
                            justify-content: flex-end
                        }
                    }
                }

            }
            
            .f-account-tray {
                @include card;
                margin: 0px 0px 80px 0px;
                padding: 50px 50px 80px 50px;

                .f-tray-header{
                    display: flex;
                    width: 100%;
                    margin: 10px 0px 20px 0px;

                    :nth-child(1) {
                        width: 10%;
                    }
                    :nth-child(2) {
                        width: 48.9%;
                    }
                    :nth-child(3) {
                        width: 40%;
                    }
                }

                .f-account-item {
                    @include card;
                    cursor: pointer;
                    width: 100%;
                    margin: 0;
                    padding: 20px;
                    box-shadow: none;
                    border-radius: 0;
                    border-bottom: 1px solid var(--shadow-color);

                    display: flex;
                    align-items: center;

                    .f-item-share,
                    .f-item-delete {
                        background-color: var(--primary-color);
                        border-radius: 100%;
                        padding: 8px;
                        margin-left: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            filter: brightness(120%);
                        }
                        
                        &:active {
                            filter: brightness(95%);
                        }

                    }

                    div:nth-child(1) {
                        width: 7.4%;
                        @include flex-center;
                    }

                    div:nth-child(2) {
                        width: 51.9%;
                    }
                    
                    div:nth-child(3) {
                        width: 30%;
                    }

                    div:nth-child(4) {
                        display: flex;
                        flex-direction: row;
                    }

                    &:active {
                        filter: brightness(90%);
                    }
                }

                &:hover {
                    filter: brightness(100%);
                }
            }

        }

    }
    
}

@media only screen and (max-width: 768px) {

    .f-account-container {
        .f-no-account {
            padding: 20px;
            width: 100%;
            height: 100vh;
            margin-bottom: 0;
            box-shadow: none;
        }

        .f-account-overview {
            padding: 20px;

            // TDDO do the header

            .f-account-content {
                .f-account-dashboard {
                    padding: 0;
                    flex-direction: column;
                    
                    .f-account-storage,
                    .f-account-upgradable-flags {
                        padding: 30px;
                        margin: 0;
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }
                .f-account-tray {
                    padding: 20px;
                }
            }
        }
    }

}