@import "../../../index.scss";

.f-progress-bar {
    height: 10px;
    background-color: $primary-color-bg-light;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    .f-progress {
        background-color: $primary-color;
    }
}
