:root {
    // THEME COLORS
    --primary-color: rgb(115, 90, 175);
    --accent-color: rgb(236, 110, 0);
    --shadow-color: rgba(115, 90, 175, 0.445);

    // STATE
    --primary-color-bg-light: #F1EEF7;

    // ACTIONS
    --primary-color-hover: rgb(96, 77, 139);
    --accent-color-hover: rgb(211, 100, 2);

    // COLOR MESSAGE
    --safe-color: #46BC4A;
    --info-color: #428AEA;
    --warn-color: #EC6E00;
    --danger-color: #EC0000;

    // BRANDS COLORS
    --facebook-color: rgb(24, 119, 242);
    --instagram-color: rgb(131, 58, 180);
    --twitter-color: rgb(29, 161, 242);
}


@font-face {
    font-family: "glacial indifference";
    src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    * {
        user-select: none;
    }
}
