@import '../../../index.scss';

.card {
    @include no-select;
    @include shadow;

    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;



    &:hover {
        filter: brightness(95%);
    }
}