.f-upload-list {
    width: 100%;
    max-width: 1320px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //added
    animation: fade 0.3s ease-in-out;

    .f-label {
        margin: 20px 0 20px 20px;
        font-size: larger;
        font-weight: bold;
    }
}
//added
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opcaity:1;
    }
}