@import '../../../../index.scss';


.f-upload-list {
    width: 100%;
    max-width: 1320px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    animation: fade 0.3s ease-in-out;

    .f-label {
        margin: 20px 0 20px 20px;
        font-size: larger;
        font-weight: bold;
    }
//added
    .f-list-view p {
        width: 200px; /* adjust as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
//added 
@media only screen and (max-width:768px) {

    .f-list-view p {
        max-width: 130px; /* adjust as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    
}