@import '../../../index.scss';


.f-footer {
    @include wh(100%, 40vh);
    background-color: $primary-color;

    .hidden {
        opacity: 0;
    }

    .show {
        opacity: 1;
        transition: 0.3s ease-in-out;
        transform: none;
    }

    .f-container {
        @include wh(100%, 100%);
        @include mar-pad(0 auto, 20px);
        @include global-max-width(0);

        @include flex-center;
        flex-direction: column-reverse;

        // FIXME
        color: #fff;

        div:nth-child(1) {
            display: flex;

            a {
                @include flex-center;
                @include wh(44px, 44px);

                margin: 0px;
                text-decoration: none;

                // FIXME
                color: #fff;
                transition: all 0.1s ease-in-out;
            }

            a:hover {
                scale: 1.1;
            }
        }

        // FIXME something's wrong here
        .show {
            overflow: hidden;
        }
    }
}


@media only screen and (max-width: $media-query-mobile) {
    .f-footer {
        .f-container {
            flex-direction: column;

            div:nth-child(2) {
                margin: 20px 10px;
            }
        }
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-container {
        @include global-max-width(1);
    }
}