@import "../../../index.scss";

.f-footer {
    @include wh(100%, 40vh);
    background-color: $bg-color-accent;

    .hidden {
        opacity: 0;
    }

    .show {
        opacity: 1;
        transform: none;
    }

    .f-container {
        @include wh(100%, 100%);
        @include mar-pad(0 auto, 20px);
        @include global-max-width(0);

        @include flex-center;
        flex-direction: column-reverse;

        color: $text-color-alt;

        div:nth-child(1) {
            display: flex;

            a {
                @include flex-center;
                @include wh(44px, 44px);

                margin: 0px;
                text-decoration: none;
                color: $text-color-alt;
            }

            a:hover {
                scale: 1.1;
            }
        }

        div:nth-child(2) {
            a {
                text-decoration: underline;
                color: $text-color-alt;

                &:hover {
                    color: $primary-color;
                }
                &:active {
                    filter: brightness(50%);
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-footer {
        .f-container {
            @include global-max-width(2);
            flex-direction: column;

            div:nth-child(2) {
                margin: 20px 10px;
            }
        }
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-container {
        @include global-max-width(1);
    }
}
