@import "../../../index.scss";

.f-footer {
    @include wh(100%, auto); // change to auto
    @include flex-center;
    padding: unset;
    flex-direction: row;
    align-items: unset;
    background-color: $bg-color-accent;

    .hidden {
        opacity: 0;
    }

    .show {
        opacity: 1;
        transform: none;
    }

    .f-container {
        @include wh(100%, 100%);
        @include mar-pad(0px, 20px);
        @include global-max-width(0);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        color: $text-color-alt;

        h3 {
            margin-top: 5px;
            margin-bottom: 14px;
        }

        button {
            margin-bottom: 20px;
        }

        .f-footer-links {
            flex-direction: row;
            align-items: center;
            gap: 14px;

            i {
                color: $text-color-alt;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
        }

        .f-branding {
            padding: 0;
            @include flex-center;
            justify-content: unset;
            background-color: unset;
            color: $text-color;

            &:hover {
                filter: brightness(100%);
            }

            img {
                @include wh(30px, 30px);
            }

            span {
                margin-left: 10px;
                font-weight: bold;
                font-size: 25px;
                letter-spacing: 2px;
                font-family: "Glacial Indifference";
            }
        }

        // div:nth-child(1) {
        //     display: flex;

        //     a {
        //         @include flex-center;
        //         @include wh(44px, 44px);

        //         margin: 0px;
        //         text-decoration: none;
        //         color: $text-color-alt;
        //     }

        //     a:hover {
        //         scale: 1.1;
        //     }
        // }

        // div:nth-child(2) {
        //     a {
        //         text-decoration: underline;
        //         color: $text-color-alt;

        //         &:hover {
        //             color: $primary-color;
        //         }
        //         &:active {
        //             filter: brightness(50%);
        //         }
        //     }
        // }
    }

    .main {
        margin:0 40px;
    }
}

@media only screen and (max-width: $media-query-mobile) {
    .f-footer {
          flex-direction: column;
           align-items: center;
         
        .f-container {
            @include global-max-width(2);
        
           

            div:nth-child(2) {
                margin: 20px 0;
            }
        }
    }
}

@media only screen and (min-width: $media-query-wide) {
    .f-footer {
        @include global-max-width(1);
    }
}
